

footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;                              
    	ul{
    		li.animfoo{
    			border-radius: 5px;                              
	            list-style: none;                                
                margin: 1rem;                                  
                padding: 0.5rem; 
                &:hover {                                         
	            background-color: $colorFoo;
	            transition: .8s;
    		}
    	}
}
}












