@media(max-width: 768px){


.contenedor {   
	display: grid;                                                        
	grid-template-columns: 100%;                                          
	grid-template-rows: 350px 600px 150px;             
	grid-auto-flow: row;                                     
	grid-auto-columns: 1fr;                                  
	grid-template-areas:                                                 
	"header"
	"main"
	"footer";
	width: 100%;                                             
	height: 100%;
}

.main h1 {
	font-size: 2rem;
	text-align: center;
}


.contenedor_campeonato {   
	display: grid;                                           
	grid-template-columns: 100%;                      
	grid-template-rows: 350px 350px 150px;             
	grid-auto-flow: row;                                     
	grid-auto-columns: 1fr;                                  
	grid-template-areas:                                     
	"header "
	"main_campeonato-izq" 
	"main_campeonato-der" 
    "footer";
	width: 100%;                                             
	height: 100%;                                     
}




}